@import "./theme.css";
@import "./custom.css";
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 14px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
