@theme {
    --breakpoint-mobx: 480px;
    --breakpoint-tab: 768px;
    --breakpoint-lap: 1024px;
    --breakpoint-desk: 1280px;

    --container-mobx: 480px;
    --container-tab: 768px;
    --container-lap: 1024px;
    --container-desk: 1280px;

    --bg-primary-original-default: #1FAEEB;
}
